.container {
  box-sizing: border-box;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.calculator {
  margin-top: 50px;
  width: 350px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(8, auto);
  grid-template-areas:
    "display display display display"
    "basicMath basicMath basicMath basicMath"
    "numbers numbers numbers other"
    "numbers numbers numbers other"
    "numbers numbers numbers other"
    "numbers numbers numbers other"
    "result result result result"
    "operation operation operation operation";
}

.calculator * {
  font-size: 25px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.display {
  grid-area: display;
}

.basic-math {
  grid-area: basicMath;
}

.numbers {
  grid-area: numbers;
  flex-wrap: wrap;
}

.result {
  grid-area: result;
}

.other {
  grid-area: other;
}

.current-operation {
  grid-area: operation;
}

.other > * {
  min-width: 58px;
}

.numbers > * {
  flex-basis: 38%;
}
