.AddContact form {
  display: flex;
  flex-direction: column;
}

.AddContact form input[type="text"] {
  width: 250px;
}

.AddContact form input[type="text"].invalid {
  border: 1px solid red;
}

.AddContact .warning {
  color: red;
}

.AddContact .actions {
  margin-top: 5px;
}
