main {
  margin-top: 50px;
}

input[type="number"] {
  width: 50px;
}

.invalid {
  outline: 2px solid red !important;
  border: none;
  border-radius: 2px !important;
}

#houseCreationAlert {
  width: 350px;
}

form * + * {
  margin-top: 7px;
}

.houses {
  margin-left: 30px;
}

.houses * + * {
  margin-left: 15px;
}
