* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-space-around {
  justify-content: space-around;
}

.mt15 {
  margin-top: 15px;
}

.mt50 {
  padding-top: 50px;
}

.momentjs {
  width: 450px;
}

.title {
  margin-bottom: 20px;
  margin-top: 20px;
}

.invalid {
  border: 2px solid red;
  border-radius: 5px;
}

/* .dateAlert {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  padding: 5px;
  display: none;
  background-color: antiquewhite;
} */

/* .dateSuccess {
  border: 2px solid green;
} */
