* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-space-around {
  justify-content: space-around;
}

.gap-15px {
  gap: 15px;
}

.invalid {
  outline: 2px solid red !important;
  border-radius: 2px !important;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  background-color: #c1c1c1;
}

.green-button {
  background-color: darkseagreen;
}

.red-button {
  background-color: #da554e;
  color: #fff;
}

#main {
  margin-top: 10px;
}

#usersList {
  width: 400px;
  padding: 5px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  height: fit-content;
}

#usersList > * + * {
  margin-top: 10px;
}

#usersList > div:not(.noUsers) {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#usersList div[data-row-id] div input + input {
  margin-left: 6px;
}

#userView {
  border: 1px solid grey;
  width: 300px;
  height: fit-content;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.userWrapper {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.inputRequired {
  color: red;
}

:is(.deleteConfirmationPrompt, #changeForm) hr {
  margin-left: -15px;
  margin-right: -15px;
}

:is(.deleteConfirmationPrompt, #changeForm) hr:last-of-type {
  margin-bottom: 15px;
}

#changeForm input:not([type="button"]) {
  border: none;
  outline: 1px solid gray;
}

#changeForm {
  width: 350px;
}

#changeForm h3 {
  margin-top: 0;
}

#changeForm #addOrEditEdit + .backButton {
  margin-left: 5px;
}

.modalBg {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modalContent {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 15px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.deleteConfirmationPrompt .title {
  margin-top: 0;
}

.deleteConfirmationPrompt .backButton {
  margin-left: 5px;
  color: black;
}
