* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.gap-10px {
  gap: 10px;
}

.buttons {
  margin-bottom: 15px;
}

.ordersList *[data-order-id] + * {
  margin-top: 10px;
}

.order {
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
}

.removeOrder {
  color: red;
  cursor: pointer;
  align-self: center;
}

.orderInfo {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  width: 300px;
}

.order:hover:not(.active-order) {
  background-color: darkgrey;
}

#main {
  display: flex;
  gap: 10px;
}

#main > div {
  border: 1px solid black;
  flex-basis: 30%;
  min-height: 200px;
  padding: 5px;
}

#info button {
  margin-top: 5px;
}

.active {
  color: coral;
}

.activeOrder {
  background-color: darkcyan;
}

.invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 2px;
}

.numberWidth {
  width: 60px;
}

label + textarea[name="commentary"] {
  margin-left: 4px;
}

.noOrders {
  font-weight: 700;
}

.inputRequired {
  display: none;
  color: red;
}

/* Modals */

.modalBase {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modalContent {
  border-radius: 10px;
  background-color: #fefefe;
  border: 5px solid darkgray;
  margin: 15% auto;
  padding: 20px;
  width: fit-content;
}

.orderDetailsContent {
  border: 5px solid darkseagreen;
}
