* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

#main {
  display: flex;
  gap: 10px;
}

#main > div {
  border: 1px solid black;
  flex-basis: 30%;
  min-height: 200px;
  padding: 5px;
}

#info button {
  margin-top: 5px;
}

.active {
  color: coral;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 2px;
}

.numberWidth {
  width: 60px;
}

b + textarea[name="commentary"] {
  margin-left: 4px;
}

.FILLMEPLEASE {
  display: none;
  color: red;
}

/* Modals */

.modalBase {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modalContent {
  border-radius: 10px;
  background-color: #fefefe;
  border: 5px solid darkgray;
  margin: 15% auto;
  padding: 20px;
  width: fit-content;
}

.requiresFillingContent {
  border: 5px solid indianred;
}

.orderDetailsContent {
  border: 5px solid darkseagreen;
}
