* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#main {
  display: flex;
  gap: 10px;
}

#main > div {
  border: 1px solid black;
  flex-basis: 30%;
  min-height: 200px;
  padding: 5px;
}

#info button {
  margin-top: 5px;
}

.active {
  color: coral;
}
