* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-space-around {
  justify-content: space-around;
}

#main > *:not(.modalBase) + * {
  margin-top: 10px;
}

#usersList {
  width: 400px;
  padding: 5px;
  border: 1px solid black;
}

#usersList > * + * {
  margin-top: 5px;
}

#usersList > div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#usersList div[data-row-id] div input + input {
  margin-left: 4px;
}

.hidden {
  display: none;
}

.inputRequired {
  color: red;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 2px;
}

.modalBase {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modalContent {
  border-radius: 10px;
  background-color: #fefefe;
  border: 5px solid darkgray;
  margin: 15% auto;
  padding: 20px;
  width: fit-content;
}
