.App {
  margin: 15px;
}

:is(.App, .AddContact) input[type="button"] + input[type="button"] {
  margin-left: 5px;
}

.App .navigation {
  margin-bottom: 5px;
}

.App ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}

.App nav ul li {
  display: inline;
}

.App nav ul li + li {
  margin-left: 5px;
}

.App a {
  text-decoration: none;
}

.App a,
a:visited,
a:active {
  color: inherit;
}

.App a.active {
  color: crimson;
}
