.container {
  margin-top: 50px;
  width: 200px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "display display display display"
    "basicMath basicMath basicMath basicMath"
    "num num num do"
    "num num num do"
    "num num num do"
    "num num num do"
    "co co co co";
}

.flex {
  display: flex;
}

.display {
  grid-area: display;
}

.basicMath {
  grid-area: basicMath;
}

.numbers {
  grid-area: num;
  flex-wrap: wrap;
}

.do {
  grid-area: do;
  flex-direction: column;
}

.test {
  display: block;
}

#currentOperation {
  grid-area: co;
}
